<h3>ExchangeRateView</h3>

@if (DefaultObserver != null)
{
    @ChildContent
} else
{
    <MudCard Outlined="true">
    @if(_editorEnabled)
    {
        <ObserverEditor Observer="@DefaultObserver" Hide="ToggleEditorEnabled" />
    }
    else
    {
        <MudCardContent>
            <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">You don't have any observation source specified. Do you want to create one</MudAlert>
        </MudCardContent>
    }
    </MudCard>
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [CascadingParameter]
    public Observer? DefaultObserver { get; set; }

    private bool _editorEnabled;

    private void ToggleEditorEnabled()
    {
        _editorEnabled = !_editorEnabled;
    }
}
